#view_profile_container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    #view_profile_top {
        display: flex;
        padding: 10px 20px 10px 20px;
        justify-content: space-between;

        #view_profile_back_button {
            display: flex;
            background-color: orange;
            padding: 5px 20px 5px 20px;
            border-radius: 10px;
            align-items: center;
        }

        #edit_profile_button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            background-color: #eee;
            padding: 10px;
            border: solid black 2px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    #view_profile_mid {
        display: flex;

        div {
            background-color: #eee;
            margin: 2px;
            border: solid black 2px;
            border-radius: 10px;
        }
    
        #view_profile_mid_mid {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-grow: 1;
            padding: 5px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                font-size: 20px;
                font-weight: bold;
                margin: 2px;
                background-color: #ddd;
                border: solid black 1px;
                border-radius: 5px;
            }

            #view_profile_action_buttons {
                background-color: transparent;
                border: none;

                #view_profile_report_button {
                    background-color: red;
                }

                div {
                    width: 100%;
                    height: 100%;
                    background-color: orange;
                    margin: 2px;
                    border: solid black 1px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }
    
        #view_profile_mid_right {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 10px;
            font-size: 20px;
            justify-content: space-evenly;

            div {
                display: flex;
                flex-grow: 1;
                justify-content: left;
                align-items: center;
                border-top: solid black 1px;
                border-right: none;
                border-bottom: solid black 1px;
                border-left: none;
                border-radius: 0px;
                margin: 0px;
            }
        }
    }

    #view_profile_bot {
        flex-grow: 1;
        
        #listing-container {
            display: flex;
            justify-content: space-between;
            background-color: #eee;
            margin: 2px;
            border: solid black 2px;
            border-radius: 10px;
            box-shadow: 5px 5px #444;

            .list-item-title {
                margin: 5px 15px 5px 15px;
                padding: 15px;
                font-weight: bold;
            }

            .list-item-price {
                margin: 5px 15px 5px 15px;
                padding: 15px;
                font-weight: bold;
            }
        }
    }
}

#edit_profile_container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 20px;
    border: solid black 2px;
    border-radius: 10px;

    div {
        margin: 5px 0px 5px 0px;
    }

    #edit_profile_title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
    }

    #edit_first_name_div {
        display: flex;
        flex-direction: row;

        div {
            margin-right: 2px;
        }

        input {
            flex-grow: 1;
        }
    }

    #edit_picture_div {
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            margin-right: 2px;
            justify-content: center;
            align-items: center;
        }

        div input {
            flex-grow: 1;
        }
    }

    #edit_profile_submit_div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}