#homepage-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#homepage-container #menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #8da4f1;
  border-bottom: solid black 1px;
}
#homepage-container #menu-container #toggle_button_div {
  display: flex;
  margin: 10px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#homepage-container #menu-container #search-bar-container {
  flex-grow: 1;
  margin: 10px;
}
#homepage-container #menu-container #search-bar-container .input-wrapper {
  display: flex;
  flex-grow: 1;
  background-color: #eee;
  padding: 15px;
  border: solid black 1px;
  border-radius: 20px;
  overflow: hidden;
}
#homepage-container #menu-container #search-bar-container .input-wrapper #search-bar {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: #eee;
}
#homepage-container #menu-container div {
  display: flex;
}
#homepage-container #menu-container div #analytics-icon {
  margin: 10px;
}
#homepage-container #menu-container div #shield-icon {
  margin: 10px;
}
#homepage-container #menu-container div #chat-icon {
  position: relative;
  top: 5px;
  margin: 10px;
}
#homepage-container #menu-container div #add-post-icon {
  margin: 10px;
  cursor: pointer;
}
#homepage-container #menu-container div #profile-icon {
  margin: 10px;
}
#homepage-container #menu-container div div {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding: 10px 20px 10px 20px;
  border: solid black 2px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#homepage-container #search_filter_container {
  display: flex;
  height: 30px;
  background-color: #8da4f1;
  padding: 5px;
  border-bottom: solid black 1px;
}
#homepage-container #search_filter_container select {
  flex-grow: 1;
  margin: 1px 2px 1px 2px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: #3e3c61;
  color: white;
  outline: none;
  border: solid black 1px;
  border-radius: 2px;
}
#homepage-container #listview_container {
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}
#homepage-container #listview_container #list_items_div {
  width: 100%;
}
#homepage-container #listview_container #list_items_div #listing-container {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px #444;
}
#homepage-container #listview_container #list_items_div #listing-container .list-item-title {
  margin: 5px 15px 5px 15px;
  padding: 15px;
  font-weight: bold;
}
#homepage-container #listview_container #list_items_div #listing-container .list-item-price {
  margin: 5px 15px 5px 15px;
  padding: 15px;
  font-weight: bold;
}

#view_listing_container {
  width: 80%;
  padding: 10px;
  background-color: #ddddf7;
  border: solid black 2px;
  border-radius: 10px;
  overflow: hidden;
}
#view_listing_container #listing_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f2d52;
  height: 50px;
}
#view_listing_container #listing_header div {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
#view_listing_container #listing_header #listing_back_button {
  cursor: pointer;
}
#view_listing_container #listing_header #listing_edit_button {
  cursor: pointer;
}
#view_listing_container #about_container {
  display: flex;
  flex-direction: column;
}
#view_listing_container #about_container #listing_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid gray 1px;
  background-color: #3e3c61;
  color: white;
}
#view_listing_container #about_container #about_container_body {
  padding: 0px 10px 0px 10px;
}
#view_listing_container #about_container #about_container_body #listing_chat_div {
  display: flex;
  align-items: center;
  border: solid black 1px;
  background-color: white;
}
#view_listing_container #about_container #about_container_body #listing_chat_div input {
  height: 30px;
  resize: none;
  flex-grow: 1;
  outline: none;
  border: none;
  font-size: 12px;
}
#view_listing_container #about_container #about_container_body #listing_chat_div #send_icon {
  cursor: pointer;
}
#view_listing_container #about_container #about_container_body div {
  font-weight: bold;
  font-size: 16px;
  margin: 2px 0px 2px 0px;
}
#view_listing_container #listing_description_container {
  display: flex;
  flex-direction: column;
}
#view_listing_container #listing_description_container #listing_description_label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-bottom: solid gray 1px;
  background-color: #3e3c61;
  color: white;
}
#view_listing_container #listing_description_container #listing_description_body {
  padding: 0px 10px 0px 10px;
}
#view_listing_container #listing_description_container div {
  font-weight: bold;
  font-size: 16px;
  margin: 2px 0px 2px 0px;
}
#view_listing_container #seller_container {
  display: flex;
  flex-direction: column;
}
#view_listing_container #seller_container #seller_container_label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-bottom: solid gray 1px;
  background-color: #3e3c61;
  color: white;
}
#view_listing_container #seller_container #seller_container_body {
  padding: 0px 10px 0px 10px;
}
#view_listing_container #seller_container div {
  font-weight: bold;
  font-size: 16px;
  margin: 2px 0px 2px 0px;
}
#view_listing_container #seller_container #seller_info_buttons_container {
  display: flex;
}
#view_listing_container #seller_container #seller_info_buttons_container #listing_email_div {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin: 2px 5px 5px 2px;
  background-color: #ffc107;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
}
#view_listing_container #seller_container #seller_info_buttons_container #listing_view_profile_div {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: 2px 5px 5px 2px;
  background-color: #ffc107;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-control {
  box-sizing: border-box;
  width: 100%;
  min-height: 30px;
  margin: 10px 0px 10px 0px;
}

.container textarea {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  resize: none;
}

.form-label {
  font-weight: bold;
}

#create_listing_form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
}
#create_listing_form #create-listing-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}
#create_listing_form #textarea-form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.input_readonly {
  outline: none;
  background-color: #f0f0f0;
}

#rate_seller_container {
  display: flex;
  width: 500px;
  flex-direction: column;
  background-color: #ddddf7;
  border: solid black 2px;
  border-radius: 20px;
  overflow: hidden;
}
#rate_seller_container #rate_seller_title {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  background-color: gray;
  color: white;
  border-bottom: solid black 1px;
}
#rate_seller_container .input_div {
  padding: 10px;
  border-bottom: 1px solid gray;
  height: 50px;
}
#rate_seller_container .input_div input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
}
#rate_seller_container #action_buttons_div {
  display: flex;
  padding: 10px;
}
#rate_seller_container #action_buttons_div button {
  flex-grow: 1;
  margin: 0px 2px 0px 2px;
  height: 40px;
  border: solid black 1px;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}

/*# sourceMappingURL=Listing.css.map */
