#homepage-container {
    width: 100vw;
    height: 100vh;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#chat-icon {
    position: relative;
    top: 5px;
    margin: 10px;
}

#add-post-icon {
    margin: 10px;
}

#profile-icon {
    margin: 10px;
}

#search-bar-container {
    flex-grow: 1;
    margin: 10px;
}

#search-bar {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: #eee;
}

#listing-container {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px #444;
}

#listview_container {
    display: flex;
}

#list_items_div {
    width: 60vw;
}

#recommended_list {
    width: 40vw;
    background-color: #ccc;
    margin: 10px;
    border-radius: 20px;
    border: solid black 2px;
    overflow: hidden;
}

#recommended_list_title {
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: white;
    background-color: black;
}

#listing_page_container {
    width: 100vw;
    height: 100vh;
    display: block;
}

#listing_top_div {
    display: flex;
    padding: 10px 20px 10px 20px;
}

#listing_mid_div {
    display: flex;
    width: 100vw;
}

#listing_mid_left {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: space-around;
}

#listing_mid_right {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: center;
}

#listing_mid_left_top {
    display: flex;
    justify-content: space-around;
    height: 80%;
    align-items: center;
}

#listing_mid_left_bot {
    display: flex;
    justify-content: space-around;
}

#listing_condition_of_product {
    font-size: 30px;
    font-weight: bold
}

#listing_price_of_product {
    font-size: 30px;
    font-weight: bold;
}

#listing_mid_left_top_right {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#listing_mid_left_top_right_top {
    display: flex;
    justify-content: space-between;
    margin: 10px
}

#listing_seller_name {
    font-weight: bold;
    font-size: 30px;
}

#listing_rating {
    font-weight: bold;
    font-size: 30px;
}

#listing_mid_left_top_right_mid {
    font-weight: bold;
    font-size: 20px;
    margin: 10px
}

#listing_mid_left_top_right_bot {
    display: flex;
    justify-content: space-around;
    margin: 10px
}

#listing_bot_div {
    margin: 5vw;
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    background-color: #eee;
    padding: 15px;
    border: solid black 1px;
    border-radius: 20px;
    overflow: hidden;
}

.list-item-title {
    margin: 5px 15px 5px 15px;
    padding: 15px;
    font-weight: bold;
}

.list-item-price {
    margin: 5px 15px 5px 15px;
    padding: 15px;
    font-weight: bold;
}

.back-button {
    background-color: orange;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
}

.listing-button {
    padding: 15px 20px 15px 20px;
    background-color: orange;
    border-radius: 10px;
}