#chat_home_page_container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 80vh;
    border: solid black 1px;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;

    #chat_side_bar_container {
        width: 33%;
        background-color: #3e3c61;
    }

    #chat_bar_container {
        width: 67%;
    }
}

#chat_nav_bar_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #2f2d52;
    padding: 10px;
    height: 50px;
    justify-content: space-between;
    color: #ddddf7;

    span {
        font-weight: bold;
    }

    div {
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #chat_nav_bar_portrait_icon_div {
            margin-right: 2px;
        }

        #chat_nav_bar_user_name {
            font-weight: bold;
        }
    }
}

#search_chat_container {
    border-bottom: 1px solid gray;
    padding: 10px;

    input {
        background-color: transparent;
        border: none;
        color: white;
        outline: none;
    }
}

#chat_listing_container {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;

    #chat_listing_portrait {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #chat_listing_info_div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #chat_listing_info_div_name {
            font-size: 18px;
            font-weight: bold;
            color: #ddddf7;
        }

        #chat_listing_info_div_last_msg {
            font-size: 14px;
            color: lightgray;
        }
    }
}

#chat_bar_container {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    #messages-container {
        background-color: #ddddf7;
        padding: 10px;
        flex-grow: 1;

        .message-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        
            #messageTop {
                display: flex;
                flex-direction: row;
                padding-right: 10px;

                #messageContent {
                    display: flex;
                    max-width: 50%;
                    background-color: white;
                    padding: 10px 20px;
                    align-items: center;
                    border-radius: 0px 10px 10px 10px;
                }
            }
        
            #messageBottom {
                display: flex;

                #messageDate {
                    font-size: 14px;
                    color: gray;
                }
            }

            &.owner {

                #messageTop {
                    flex-direction: row-reverse;
                    padding-left: 10px;

                    #messageContent {
                        border-radius: 10px 0px 10px 10px;
                        background-color: #8da4f1;
                        color: white;
                    }
                }

                #messageBottom {
                    justify-content: right;
                }
            }
        }
    }

    #chat_input_container {
        display: flex;
        padding: 10px;
        height: 50px;
        background-color: white;
        align-items: center;

        input {
            border: none;
            background: transparent;
            outline: none;
            flex-grow: 1;
            font-size: 18px;
        }

        div {
            padding: 10px 15px;
            cursor: pointer;
            color: white;
            background-color: #8da4f1;
            border-radius: 10px;
        }
    }
}